<ul>
    <% branches.each { |branch| %>
        <%= erb :_branch, locals: { branch: branch } %>
    <% } %>
    <li>
        <% new_uri = uri.split('/')[0..-2].join('/') + '/edit' %>
        <a href="<%= new_uri %>">
            <b class="symbol">+</b>New
        </a>
    </li>
</ul>
