<div class="buttons">
    <a id="collapse-btn" onclick="toggleCollapse()"></a>
    &bull;
    <a id="hide-add-btn" onclick="toggleAddButtons()"></a>
    &bull;
    <a onclick="reload()">Reload</a>
</div>