<!DOCTYPE html>
<html>
    <%= erb :_head %>
    <body>
        <%= erb :_trees, locals: { trees: $forest.trees } %>
        <%= erb :_leaves, locals: { leaves: $forest.leaves } %>
        <%= erb :_branches, locals: { branches: $forest.branches, uri: './forest' } %>
        <div class="buttons">
            <a onclick="hideAll(true)">Collapse</a>
            &bull;
            <a onclick="hideAll()">Expand</a>
        </div>
    </body>

    <script>
        let toggles = document.getElementsByClassName('toggle')
        for (let ix = 0; ix < toggles.length; ix++) {
            toggles[ix].onclick = (e) => {
                e.target.parentElement.classList.toggle('hidden')
            }
        }

        let hideAll = (hide = false) => {
            for (let ix = 0; ix < toggles.length; ix++) {
                 if (hide) {
                    toggles[ix].parentElement.classList.add('hidden')
                } else {
                    toggles[ix].parentElement.classList.remove('hidden')
                }
            }
        }
    </script>
</html