<!DOCTYPE html>
<html>
    <%= erb :_head %>
    <body>
        <%= erb :_buttons %>
        <li class="add-button">
            <a href="./forest/edit?tree=1">
                <b class="symbol">+</b>New Tree
            </a>
        </li>
        <%= erb :_trees, locals: { trees: $forest.trees + [$forest] } %>
    </body>
    <script src="/buttons.js"></script>
</html