<!DOCTYPE html>
<html>
<body>
    <%= erb :_leaves, locals: { leaves: $forest.leaves } %>
    <%= erb :_branches, locals: { branches: $forest.branches } %>
    <%= erb :_trees, locals: { trees: $forest.trees } %>
</body>
</html