:root {
    font-family: serif;
}

pre {
    font-family: serif;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li ul {
    padding-left: 20px;
}

li {
    margin: 4px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li::before {
    content: "├─ ";
    color: #999;
}

li:last-child::before {
    content: "└─ ";
}

b.symbol {
    display: inline-block;
    width: 16px;
}