@font-face {
    font-family: 'Gramercy';
    src: url('/GramercyVariable.woff2') format('woff2');
}

:root, pre {
    font-family: 'Gramercy';
    font-size: 16px;
    color: #333;
}

body {
    margin: 16px;
}

.hidden-self {
    display: none;
}

.hidden * {
    display: none;
}

.hidden > p {
    display: inline !important;
}

p {
    display: inline;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li ul {
    padding-left: 20px;
}

li {
    margin: 4px 0;
}

a, .toggle {
    cursor: crosshair;
    text-decoration: none;
    color: inherit;
}

a:hover, .toggle:hover {
    text-decoration: underline;
}

li::before {
    content: "├─ ";
    color: #333;
}

li:last-child::before {
    content: "└─ ";
}

b.symbol {
    display: inline-block;
    width: 24px;
}

label {
    display: block;
}

textarea {
    width: 100%;
    border: 1px solid #333;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

textarea {
    resize: vertical;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.buttons p {
    border: 1px solid #333;
    padding: 0 4px;
    margin: 0;
}